/* Add these styles to your CSS */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 120px; /* Adjust the width as needed */
  }
  
  .brand-font {
    margin: 0;
    color: white; /* Customize the color as needed */
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  